# Build directories
build/

# Visual Studio / MSVC
.vs/
*.vcxproj
*.vcxproj.filters
*.sln
*.slnx

# Compiled binaries / debug files
*.exe
*.obj
*.ilk
*.pdb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake